<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/auto_size.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vexflow/1.2.90/vexflow-debug.js"
            integrity="sha256-RZgmhQAX3fNPj06CJuMTorN8sf4Z5xe5qmC2CUKeyAw="
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="boo"></div>
</body>
    <script src="/static/test.js">
    </script>
    <script>
        var string = "C#3/q, B2, A2/8, B2, C#3, D3";
        showSheet(string);
    </script>
</html>